@model PagedList.IPagedList< HengXinSMS.Models.Forklift>
@using PagedList.Mvc;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <title>横新软件工程智能调配系统</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="~/js/jquery.min.js"></script>
    <link href="~/css/bootstrap/bootstrap-overrides.css" rel="stylesheet" />
    <link href="~/css/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="~/css/compiled/icons.css" rel="stylesheet" />
    <link href="~/css/compiled/layout.css" rel="stylesheet" />
    <link href="~/css/compiled/elements.css" rel="stylesheet" />
    <link href="~/css/lib/font-awesome.css" rel="stylesheet" />
    <link href="~/css/compiled/signin.css" rel="stylesheet" />
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/theme.js"></script>
    <script src="~/js/jquery-ui-1.10.2.custom.min.js"></script>
    <script src="~/js/jquery.flot.js"></script>
    <script src="~/js/jquery.flot.min.js"></script>
    <script src="~/js/jquery.knob.js"></script>
    <link href="~/css/compiled/index.css" rel="stylesheet" />
    <script src="~/js/jquery.knob.js"></script>
   <link href="~/css/compiled/skins/dark.css" rel="stylesheet" />
    <link href="~/Content/PagedList.css" rel="stylesheet" />
</head>
<body>
  <!-- navbar -->
    <header class="navbar navbar-inverse" role="banner">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" id="menu-toggler">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="\Home_EMPLOYEE\home"><img src="/img/logo.png" /></a>
        </div>
        <ul class="nav navbar-nav pull-right hidden-xs">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle hidden-xs hidden-sm" data-toggle="dropdown">Date Select
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="\Home_EMPLOYEE\home_today">Today</a></li>
                    <li><a href="\Home_EMPLOYEE\home">Tomorrow</a></li>
                    <li><a href="\Home_EMPLOYEE\home_third">The day after tomorrow</a></li>
                </ul>
            </li>
             <li class="dropdown">
                <a href="#" class="dropdown-toggle hidden-xs hidden-sm" data-toggle="dropdown">Site Select
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="\Home_EMPLOYEE\home_today_1">Today</a></li>
                    <li><a href="\Home_EMPLOYEE\home_1">Tomorrow</a></li>
                    <li><a href="\Home_EMPLOYEE\home_third_1">The day after tomorrow</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle hidden-xs hidden-sm" data-toggle="dropdown">Welcome：@Session["UserName"] 
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="\UserList\userinfo">Personal info</a></li>
                    <li><a href="\Login\login">logo out</a></li>
                </ul>
            </li>
            <li class="settings hidden-xs hidden-sm">
                <a href="\Login\login" role="button">
                    <i class="icon-share-alt"></i>
                </a>
            </li>
        </ul>
    </header>
    <!-- end navbar -->
    <div id="sidebar-nav">
        <ul id="dashboard-menu">
            <li >
               <a href="\Home_EMPLOYEE\home">
                    <i class="icon-home"></i>
                    <span>首页</span>
                </a>
            </li>            
            <li class="active">
                <div class="pointer">
                    <div class="arrow"></div>
                    <div class="arrow_border"></div>
                </div>
                <a class="dropdown-toggle" href="#">
                    <i class="icon-edit"></i>
                    <span>叉车管理</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu">
                    <li><a href="\ForkliftList_Employee\projectlist">选择项目</a></li>
                    <li><a href="\ForkliftList_Employee\forkliftlist">申请列表</a></li>
                    <li><a href="\ForkliftList_Employee\newforklift">叉车申请</a></li>
                    <li><a href="\ForkliftList_Employee\successforklift"  class="active">审核完毕</a></li>
                    <li><a href="\ForkliftList_Employee\after_Schedule">安排完毕</a></li>
                </ul>
            </li>
            <li>
                <a class="dropdown-toggle" href="#">
                    <i class="icon-wrench"></i>
                    <span>包装管理</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu">
                    <li><a href="\PackagingList_Employee\projectlist">选择项目</a></li>
                    <li><a href="\PackagingList_Employee\packaginglist">申请列表</a></li>
                    <li><a href="\PackagingList_Employee\newpackaging">包装申请</a></li>
                    <li><a href="\PackagingList_Employee\successpackaging">审核完毕</a></li>
                    <li><a href="\PackagingList_Employee\after_Schedule">安排完毕</a></li>
                </ul>
            </li>
            <li>
                <a class="dropdown-toggle" href="#">
                    <i class="icon-truck"></i>
                    <span>运输管理</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu">
                    <li><a href="\TransportList_Employee\projectlist">选择项目</a></li>
                    <li><a href="\TransportList_Employee\transportlist">申请列表</a></li>
                    <li><a href="\TransportList_Employee\newtransport">运输申请</a></li>
                    <li><a href="\TransportList_Employee\successtransport">审核完毕</a></li>
                    <li><a href="\TransportList_Employee\after_Schedule">安排完毕</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- end sidebar -->
    <div class="content">
		<div id="pad-wrapper" class="users-list">
            <div class="row header">
                <h3>叉车申请审核完毕
                </h3>
                <div class="col-md-10 col-sm-12 col-xs-12 pull-right">
                    <link href="~/Content/PagedList.css" rel="stylesheet" />
                    <br />
                    @using (Html.BeginForm("successforklift", "ForkliftList_Employee", FormMethod.Get))
                    {
                        <p>
                            <span>任意关键词查找: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, "")</span>
                            <span>&#8194;</span>
                            <span>
                                <input type="submit" name="提交" value="Find" class="btn btn-primary" /></span>
                        </p>
                    }
                </div>
              </div>
            <table class="table table-bordered table-hover definewidth m10">
                <thead>
                    <tr>
                        <th>叉车申请号</th>
                        <th>申请人</th>
                        <th>@Html.ActionLink("项目名", "successforklift", new { sortOrder = ViewBag.ProjectNameSortParm })</th>
                        <th>项目号</th>
                        <th>项目经理</th>
                        <th>@Html.ActionLink("申请日期", "successforklift", new { ViewBag.ApplicationDateSortParm })</th>
                        <th>预使用日期</th>
                        <th>使用地点</th>
                        <th>预开始时间</th>
                        <th>预结束时间</th>
                        <th>服务要求</th>
                        <th>叉车数</th>
                        <th>人员数</th>
                        <th>用途</th>
                        <th>作业量</th>
                        <th>安排</th>
                        
                    </tr>
                </thead>
                @foreach (var item in Model)
                { <tr>
                    <td>@Html.DisplayFor(modelItem => item.ApplyId)</td>
                    <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                    <td>@Html.DisplayFor(modelItem => item.ProjectName)</td>
                    <td>@Html.DisplayFor(modelItem => item.ProjectNameId)</td>
                    <td>@Html.DisplayFor(modelItem => item.ProjectManager)</td>
                    <td>@Html.DisplayFor(modelItem => item.ApplicationDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.EstimateDate_Use)</td>
                    <td>@Html.DisplayFor(modelItem => item.Location)</td>
                    <td>@Html.DisplayFor(modelItem => item.EstimateTime_Start)</td>
                    <td>@Html.DisplayFor(modelItem => item.EstimateTime_End)</td>
                    <td>@Html.DisplayFor(modelItem => item.ServeRequest)</td>
                    <td>@Html.DisplayFor(modelItem => item.NumofForklift)</td>
                    <td>@Html.DisplayFor(modelItem => item.NumofHuman)</td>
                    <td>@Html.DisplayFor(modelItem => item.Purpose)</td>
                    <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                    <td>@Html.DisplayFor(modelItem => item.Schedule)</td>
                   
                </tr>
                }
            </table>
            <br />
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("successforklift",
                 new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

        </div>
    </div>
</body>
</html>

