@model PagedList.IPagedList<HengXinSMS.Models.Transport>
@using PagedList.Mvc;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <title>横新软件工程智能调配系统</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="~/js/jquery.min.js"></script>
    <link href="~/css/bootstrap/bootstrap-overrides.css" rel="stylesheet" />
    <link href="~/css/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="~/css/compiled/icons.css" rel="stylesheet" />
    <link href="~/css/compiled/layout.css" rel="stylesheet" />
    <link href="~/css/compiled/elements.css" rel="stylesheet" />
    <link href="~/css/lib/font-awesome.css" rel="stylesheet" />
    <link href="~/css/compiled/signin.css" rel="stylesheet" />
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/theme.js"></script>
    <script src="~/js/jquery-ui-1.10.2.custom.min.js"></script>
    <script src="~/js/jquery.flot.js"></script>
    <script src="~/js/jquery.flot.min.js"></script>
    <script src="~/js/jquery.knob.js"></script>
    <link href="~/css/compiled/index.css" rel="stylesheet" />
    <script src="~/js/jquery.knob.js"></script>
   <link href="~/css/compiled/skins/dark.css" rel="stylesheet" />
    <link href="~/Content/PagedList.css" rel="stylesheet" />
</head>
<body>
   <!-- navbar -->
    <header class="navbar navbar-inverse" role="banner">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" id="menu-toggler">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="\Home\home"><img src="/img/logo.png" /></a>
        </div>
        <ul class="nav navbar-nav pull-right hidden-xs">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle hidden-xs hidden-sm" data-toggle="dropdown">Date Select
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="\Home\home_today">Today</a></li>
                    <li><a href="\Home\home">Tomorrow</a></li>
                    <li><a href="\Home\home_third">The day after tomorrow</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle hidden-xs hidden-sm" data-toggle="dropdown">Site Select
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="\Home\home_today_1">Today</a></li>
                    <li><a href="\Home\home_1">Tomorrow</a></li>
                    <li><a href="\Home\home_third_1">The day after tomorrow</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle hidden-xs hidden-sm" data-toggle="dropdown"> Welcome：@Session["UserName"] 
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="\UserList\userinfo">Personal info</a></li>
                    <li><a href="\Login\login">logo out</a></li>
                </ul>
            </li>
            <li class="settings hidden-xs hidden-sm">
                <a href="\Login\login" role="button">
                    <i class="icon-share-alt"></i>
                </a>
            </li>
        </ul>
    </header>
    <!-- end navbar -->
    <!-- sidebar -->
    <div id="sidebar-nav">
        <ul id="dashboard-menu">
            <li >
                <a href="\Home\home">
                    <i class="icon-home"></i>
                    <span>首页</span>
                </a>
            </li>            
            <li>
                <a class="dropdown-toggle" href="#">
                    <i class="icon-group"></i>
                    <span>用户管理</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu">
                  <li><a href="\UserList\userlist">用户列表</a></li>
                   <li ><a href="\UserList\newuser">添加用户</a></li>
                </ul>
            </li>
            <li>
                <a class="dropdown-toggle" href="#">
                    <i class="icon-briefcase"></i>
                    <span>项目管理</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu">
                    <li><a href="\ProjectList\projectlist">项目列表</a></li>
                    <li><a href="\ProjectList\newproject">添加项目</a></li>
                </ul>
            </li>
            <li>
                <a class="dropdown-toggle" href="#">
                    <i class="icon-edit"></i>
                    <span>叉车管理</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu">
                    <li><a href="\ForkliftList\projectlist">选择项目</a></li>
                    <li><a href="\ForkliftList\forkliftlist">申请列表</a></li>
                    <li><a href="\ForkliftList\newforklift">叉车申请</a></li>
                    <li><a href="\ForkliftList\checkforklift">OML审核</a></li>
                    <li><a href="\ForkliftList\successforklift">审核完毕</a></li>
                    <li><a href="\ForkliftList\after_Schedule">费用管理</a></li>
                    <li><a href="\ForkliftList\after_Schedule_1">费用记录</a></li>
                </ul>
            </li>
            <li>
                <a class="dropdown-toggle" href="#">
                    <i class="icon-wrench"></i>
                    <span>包装管理</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu">
                    <li><a href="\PackagingList\projectlist" >选择项目</a></li>
                    <li><a href="\PackagingList\packaginglist">申请列表</a></li>
                    <li><a href="\PackagingList\newpackaging">包装申请</a></li>
                    <li><a href="\PackagingList\checkpackaging" >OML审核</a></li>
                    <li><a href="\PackagingList\successpackaging">审核完毕</a></li>
                    <li><a href="\PackagingList\after_Schedule">费用管理</a></li>
                    <li><a href="\PackagingList\after_Schedule_1">费用记录</a></li>
                </ul>
            </li>
            <li class="active">
                <div class="pointer">
                    <div class="arrow"></div>
                    <div class="arrow_border"></div>
                </div>
                <a class="dropdown-toggle" href="#">
                    <i class="icon-truck"></i>
                    <span>运输管理</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu">
                    <li><a href="\TransportList\projectlist" >选择项目</a></li>
                    <li><a href="\TransportList\transportlist">申请列表</a></li>
                    <li><a href="\TransportList\newtransport">运输申请</a></li>
                    <li><a href="\TransportList\checktransports" class="active">OML审核</a></li>
                    <li><a href="\TransportList\successtransport">审核完毕</a></li>
                    <li><a href="\TransportList\after_Schedule" >费用管理</a></li>
                    <li><a href="\TransportList\after_Schedule_1">费用记录</a></li>
                </ul>
            </li>
            <li>
                <a class="dropdown-toggle" href="#">
                    <i class="icon-ok"></i>
                    <span>场地安排</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu">
                     <li><a href="\SiteManagement\sitemanagement">安排列表(YSW)</a></li>
                    <li><a href="\SiteManagement\sitemanagement_1">安排列表(YWP)</a></li>
                </ul>
            </li>
            <li>
                <a class="dropdown-toggle" href="#">
                    <i class="icon-th-large"></i>
                    <span>报表明细</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu">
                   <li><a href="\Report_Forklift.aspx" >叉车报表</a></li>
                    <li><a href="\Report_Packaging.aspx" >包装报表</a></li>
                    <li><a href="\Report_Transport.aspx">运输报表</a></li>
                </ul>
            </li>
             <li>
                <a class="dropdown-toggle" href="#">
                    <i class="icon-folder-close"></i>
                    <span>文件检索</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu">
                    <li><a href="\Forklifts">叉车申请文件</a></li>
                    <li><a href="\Packagings">包装申请文件</a></li>
                    <li><a href="\Transports">运输申请文件</a></li>
                </ul>
            </li>  
        </ul>
    </div>
    <!-- end sidebar -->
    <div class="content">
		<div id="pad-wrapper" class="users-list">
            <div class="row header">
                <h3>运输审核列表
                </h3>
                <div class="col-md-10 col-sm-12 col-xs-12 pull-right">
                    <link href="~/Content/PagedList.css" rel="stylesheet" />
                    <br />
                    @using (Html.BeginForm("checktransports", "TransportList", FormMethod.Get))
                    {
                        <p>
                            <span>任意关键词查找: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, "")</span>
                            <span>&#8194;</span>
                            <span>
                                <input type="submit" name="提交" value="Find" class="btn btn-primary" /></span>
                        </p>
                    }
                </div>
              </div>
            <table class="table table-bordered table-hover definewidth m10">
                <thead>
                    <tr>
                        <th>申请人</th>
                        <th>@Html.ActionLink("项目名", "checktransports",  new { sortOrder = ViewBag.ProjectNameSortParm })</th>
                        <th>项目号</th>
                        <th>项目经理</th>
                      
                       
                        <th>地点</th>
                      
                      
                        <th>是否投保</th>
                        <th>投保总额</th>
                        <th>预出货时间</th>
                        <th>预完成时间</th>
                        <th>预开始日期</th>
                        <th>预交货日期</th>
                        <th>运输要求</th>
                        <th>需车数量</th>
                        <th>运输方式</th>
                    
                        <th>PM审批</th>
                        <th>OML审批</th>
                        <th>操作</th>
                        
                    </tr>
                </thead>
                @foreach (var item in Model)
                { <tr>
                    <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                    <td>@Html.DisplayFor(modelItem => item.ProjectName)</td>
                    <td>@Html.DisplayFor(modelItem => item.ProjectNameId)</td>
                    <td>@Html.DisplayFor(modelItem => item.ProjectManager)</td>
                 
                 
                    <td>@Html.DisplayFor(modelItem => item.Location)</td>
                   
                  
                    <td>@Html.DisplayFor(modelItem => item.Insurance)</td>
                    <td>@Html.DisplayFor(modelItem => item.InsuranceofAmount)</td>
                    <td>@Html.DisplayFor(modelItem => item.EstimateTime_Start)</td>
                    <td>@Html.DisplayFor(modelItem => item.EstimateTime_End)</td>
                    <td>@Html.DisplayFor(modelItem => item.EstimateDate_Use)</td>
                    <td>@Html.DisplayFor(modelItem => item.EstimateDate_CompleteTime)</td>
                    <td>@Html.DisplayFor(modelItem => item.TransportRequest)</td>
                    <td>@Html.DisplayFor(modelItem => item.NumofTruck)</td>
                    <td>@Html.DisplayFor(modelItem => item.TypeofTransport)</td>
                  
                    <td>@Html.DisplayFor(modelItem => item.PM_Review)</td>
                    <td>@Html.DisplayFor(modelItem => item.OML_Review)</td>
                 
                     <td>
                       
                         @Html.ActionLink("审核", "check", new { id = item.ID })
                    </td>
                </tr>
                }
            </table>
            <br />
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("checktransports",
                 new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

        </div>
    </div>
</body>
</html>
